<!DOCTYPE html>
<html class="h-full" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout.html}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <title>Users</title>
</head>

<body class="h-full">
<div layout:fragment="content">
  <div class="m-4">
    <div class="bg-white rounded-xl border w-full p-3 text-sm flex flex-col space-y-4">
      <div class="flex flex-row justify-between items-center">
        <h3 class="text-xl">Activities</h3>
        <div class="flex flex-row justify-end space-x-4">
          <form th:action="@{/admin/activities/delete}" method="post">
            <button class="px-4 py-2 text-red-500 hover:bg-red-100 rounded-xl">Delete</button>
          </form>
          <a th:href="@{/admin/activities?sortBy=newest}" class="px-4 py-2 text-primary hover:bg-gray-100 rounded-xl">
            Sort Newest
          </a>
          <a th:href="@{/admin/activities?sortBy=oldest}" class="px-4 py-2 text-primary hover:bg-gray-100 rounded-xl">
            Sort Oldest
          </a>
        </div>
      </div>

      <!-- Users -->
      <div class="overflow-x-auto">
        <table class="table-auto w-full divide-y whitespace-nowrap">
          <thead class="h-10">
          <tr>
            <th class="whitespace-nowrap">
              <div class="font-medium text-left">Activity ID</div>
            </th>
            <th class="whitespace-nowrap">
              <div class="font-medium text-left">Message</div>
            </th>
            <th class="whitespace-nowrap">
              <div class="font-medium text-left">Activity Date</div>
            </th>
          </tr>
          </thead>
          <tbody class="divide-y">
          <tr class="h-10" th:each="activity: ${activities}">
            <td th:text="${activity.id}">

            </td>
            <td>
              <a
                      th:href="@{'/admin/users/' + ${activity.User.id}}"
                      th:text="${activity.User.username + ' '}"
                      class="text-link cursor-pointer"
              >
              </a>
              <span
                      th:text="${activity.activityMessage}"
              >
              </span>
            </td>
            <td th:text="${#temporals.format(activity.activityDate, 'yyyy-MM-dd HH:mm')}">

            </td>

          </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
</body>

</html>