<!DOCTYPE html>
<html class="h-full" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout.html}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Users</title>
</head>

<body class="h-full">
    <div layout:fragment="content">
        <div class="m-4">
            <div class="bg-white rounded-xl border w-full p-3 text-sm flex flex-col space-y-4">
                <div class="flex flex-row justify-between items-center">
                    <h3 class="text-xl">Users</h3>
                    <div class="flex flex-row justify-end space-x-4">
                        <button type="button" class="px-4 py-2 text-primary hover:bg-gray-100 rounded-xl">
                            Sort
                        </button>
                        <a th:href="@{/admin/user-create}" type="submit" class="px-4 py-2 bg-primary text-white hover:bg-primary-hover rounded-xl">
                            Add User
                        </a>
                    </div>
                </div>

                <!-- Users -->
                <div class="overflow-x-auto">
                    <table class="table-auto w-full divide-y whitespace-nowrap">
                        <thead class="h-10">
                        <tr>
                            <th class="whitespace-nowrap">
                                <div class="font-medium text-left">ID</div>
                            </th>
                            <th class="whitespace-nowrap">
                                <div class="font-medium text-left">Full name</div>
                            </th>
                            <th class="whitespace-nowrap">
                                <div class="font-medium text-left">Username</div>
                            </th>
                            <th class="whitespace-nowrap">
                                <div class="font-medium text-left">Email</div>
                            </th>
                            <th class="whitespace-nowrap">
                                <div class="font-medium text-left">Role</div>
                            </th>
                            <th class="whitespace-nowrap">
                                <div class="font-medium text-left">Created at</div>
                            </th>
                            <th class="whitespace-nowrap">
                                <div class="font-medium text-left">Updated at</div>
                            </th>
                            <th class="whitespace-nowrap">
                                <div class="font-medium text-left">Actions</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="divide-y">
                        <tr class="h-10" th:each="user: ${users}">
                            <td th:text="${user.id}">

                            </td>
                            <td th:text="${user.fullName}">

                            </td>
                            <td th:text="${user.username}">

                            </td>
                            <td th:text="${user.email}">

                            </td>
                            <td th:switch="${user.role.toString()}">
                                <span class="bg-green-500 py-1 px-2 rounded-full text-white" th:case="'ROLE_ADMIN'">Admin</span>
                                <span class="bg-sky-500 py-1 px-2 rounded-full text-white" th:case="'ROLE_USER'">User</span>
                                <span class="bg-gray-600 py-1 px-2 rounded-full text-white" th:case="*">Anon</span>
                            </td>
                            <td th:text="${user.createdAt}">

                            </td>
                            <td th:text="${user.updatedAt}">

                            </td>
                            <td>
                                <div class="flex flex-row space-x-2">
                                    <a th:href="@{'/admin/user-edit/' + ${user.id}}" class="bg-blue-500 py-1 px-2 rounded-full text-white">
                                        Edit
                                    </a>
                                    <a th:href="@{'/admin/user-details/' + ${user.id}}" class="bg-blue-500 py-1 px-2 rounded-full text-white">
                                        Show
                                    </a>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</body>

</html>