<!DOCTYPE html>
<html class="h-full" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout.html}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <title>Home</title>
</head>

<body class="h-full">
  <div layout:fragment="content">
    <!-- Replace content -->
    <div>
      <div class="flex flex-col md:flex-row justify-between flex-nowrap md:space-x-4">
        <div th:if="${applicationsCount}" class="bg-white rounded-xl border w-full p-3 text-sm flex flex-col space-y-4 my-4">
          <h3>Total applications</h3>
          <span class="text-2xl font-bold" th:text="${applicationsCount}"></span>
        </div>
        <div th:if="${newApplicationsLastWeek}" class="bg-white rounded-xl border w-full p-3 text-sm flex flex-col space-y-4 my-4">
          <h3>New Applications</h3>
          <span class="text-2xl font-bold" th:text="${newApplicationsLastWeek}"></span>
        </div>
        <div th:if="${usersCount}" class="bg-white rounded-xl border w-full p-3 text-sm flex flex-col space-y-4 my-4">
          <h3>Total Users</h3>
          <span class="text-2xl font-bold" th:text="${usersCount}"></span>
        </div>
        <div th:if="${newUsersLastWeek}" class="bg-white rounded-xl border w-full p-3 text-sm flex flex-col space-y-4 my-4">
          <h3>New Users</h3>
          <span class="text-2xl font-bold" th:text="${newUsersLastWeek}"></span>
        </div>
      </div>
    </div>

    <div class="bg-white rounded-xl border w-full p-3 text-sm flex flex-col space-y-4 my-4">
      <div class="flex flex-row justify-between items-center">
        <h3 class="text-xl">Users</h3>
        <a th:href="@{/admin/users}" class="text-link rounded-xl transition duration-200 hover:text-link-hover hover:bg-link-back_hover py-2 px-3 hover:cursor-pointer">View
          All</a>
      </div>

      <!-- Users -->
      <div class="overflow-x-auto">
        <table class="table-auto w-full divide-y">
          <thead class="h-10">
          <tr>
            <th class="whitespace-nowrap">
              <div class="font-medium text-left">Full name</div>
            </th>
            <th class="whitespace-nowrap">
              <div class="font-medium text-left">Username</div>
            </th>
            <th class="whitespace-nowrap">
              <div class="font-medium text-left">Email</div>
            </th>
            <th class="whitespace-nowrap">
              <div class="font-medium text-left">Role</div>
            </th>
          </tr>
          </thead>
          <tbody class="divide-y">
          <tr class="h-10">
            <td>
              Yan
            </td>
            <td>
              Yan
            </td>
            <td>
              Yan@gmail.com
            </td>
            <td>
                                  <span class="bg-sky-500 py-1 px-2 rounded-full text-white">
                                      User
                                  </span>
            </td>
          </tr>
          <tr class="h-10">
            <td>
              Damir Valiev
            </td>
            <td>
              Damir
            </td>
            <td>
              damir@gmail.com
            </td>
            <td>
                                  <span class="bg-green-500 py-1 px-2 rounded-full text-white">
                                      Admin
                                  </span>
            </td>
          </tr>
          <tr class="h-10">
            <td>
              Max
            </td>
            <td>
              Max
            </td>
            <td>
              max@gmail.com
            </td>
            <td>
                                  <span class="bg-green-500 py-1 px-2 rounded-full text-white w-full">
                                      Admin
                                  </span>
            </td>
          </tr>
          <tr class="h-10">
            <td>
              Jalol
            </td>
            <td>
              private_user
            </td>
            <td>
              jalol@gmail.com
            </td>
            <td>
                                  <span class="bg-sky-500 py-1 px-2 rounded-full text-white">
                                      User
                                  </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="bg-white rounded-xl border w-full p-3 text-sm flex flex-col space-y-4 my-4">
      <div class="flex flex-row justify-between items-center">
        <h3 class="text-xl">Activity</h3>
        <a class="text-link rounded-xl transition duration-200 hover:text-link-hover hover:bg-link-back_hover py-2 px-3 hover:cursor-pointer">View
          All</a>
      </div>

      <!-- activity -->
      <div class="overflow-x-auto">
        <table class="table-auto w-full divide-y">
          <thead class="h-10">
          <tr>
            <th class="whitespace-nowrap">
              <div class="font-medium text-left">Message</div>
            </th>
            <th class="whitespace-nowrap">
              <div class="font-medium text-left">Date</div>
            </th>
          </tr>
          </thead>
          <tbody class="divide-y">
          <tr class="h-10">
            <td><span class="text-link cursor-pointer">Damir</span> has deleted application <span
                    class="text-link cursor-pointer">#123</span></td>
            <td>
              14:00 12/12/2023
            </td>
          </tr>
          <tr class="h-10">
            <td><span class="text-link cursor-pointer">blablabla</span> has created application <span
                    class="text-link cursor-pointer">#322</span></td>
            <td>
              13:12 12/12/2023
            </td>
          </tr>
          <tr class="h-12">
            <td><span class="text-link cursor-pointer">lksdjfl</span> has created account as user</td>
            <td>
              12:23 12/12/2023
            </td>
          </tr>
          <tr class="h-10">
            <td><span class="text-link cursor-pointer">Max</span> has set damir as admin</td>
            <td>
              11:24 12/12/2023
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <!-- /End replace -->
  </div>
</body>

</html>