<!doctype html>
<html class="h-full" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<head>
  <title>application</title>
</head>
<body>
<div layout:fragment="content">

  <form method="get" action="/#" class="flex flex-col md:flex-row p-4 justify-start" th:object="${formApplication}">
    <div class="flex flex-col flex-1 mb-8">
      <h1 class="font-semibold">
        Joint
      </h1>
      <p class="text-gray-500">
        Assets
      </p>
    </div>

    <div class="grid grid-cols-2 gap-4 flex-1 lg:mr-32">

      <div class="md:m-0">
        <label for="property" class="block text-sm font-medium text-gray-900">Primary Property</label>
        <div class="mt-2">
          <input
                  th:field="*{primaryProperty}"
                  type="text"
                  name="property"
                  id="property"
                  autocomplete="name"
                  class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full"
          >
        </div>
      </div>

      <div class="md:m-0">
        <label for="uk-property" class="block text-sm font-medium text-gray-900">UK Holiday Home</label>
        <div class="mt-2">
          <input
                  th:field="*{ukHolidayHome}"
                  type="text"
                  name="uk-property"
                  id="uk-property"
                  autocomplete="name"
                  class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full"
          >
        </div>
      </div>

      <div class="md:m-0">
        <label for="btl-property" class="block text-sm font-medium text-gray-900">BTL Property</label>
        <div class="mt-2">
          <input
                  th:field="*{btlProperty}"
                  type="text"
                  name="btl-property"
                  id="btl-property"
                  autocomplete="name"
                  class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full"
          >
        </div>
      </div>

      <div class="md:m-0">
        <label for="foreign-property" class="block text-sm font-medium text-gray-900">Foreign Property</label>
        <div class="mt-2">
          <input
                  th:field="*{foreignProperty}"
                  type="text"
                  name="foreign-property"
                  id="foreign-property"
                  autocomplete="name"
                  class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full"
          >
        </div>
      </div>

      <div class="md:m-0 col-span-full">
        <label for="foreign-will" class="block text-sm font-medium text-gray-900">Foreign Will</label>
        <div class="mt-2">
          <select
                  th:field="*{foreignWill}"
                  style="-webkit-appearance: none;" 
                  id="foreign-will" name="select"
                  class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full"
          >
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>

      <div class="md:m-0">
        <label for="investment" class="block text-sm font-medium text-gray-900">Investment</label>
        <div class="mt-2">
          <input
                  th:field="*{investment}"
                  type="text"
                  name="investment"
                  id="investment"
                  autocomplete="name"
                  class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full"
          >
        </div>
      </div>

      <div class="md:m-0">
        <label for="savings-cash" class="block text-sm font-medium text-gray-900">Savings & Cash</label>
        <div class="mt-2">
          <input
                  th:field="*{savingsCash}"
                  type="text"
                  name="savings-cash"
                  id="savings-cash"
                  autocomplete="name"
                  class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full"
          >
        </div>
      </div>

      <div class="md:m-0 col-span-full">
        <label for="total-assets" class="block text-sm font-medium text-gray-900">Total Assets</label>
        <div class="mt-2">
          <input
                  th:field="*{total}"
                  type="text"
                  name="total-assets"
                  id="total-assets"
                  autocomplete="name"
                  class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full"
          >
        </div>
      </div>

      <div class="md:m-0">
        <label for="personal-live-cover" class="block text-sm font-medium text-gray-900">Personal Life Cover</label>
        <div class="mt-2">
          <input
                  th:field="*{personalLifeCover}"
                  type="text"
                  name="personal-live-cover"
                  id="personal-live-cover"
                  autocomplete="name"
                  class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full"
          >
        </div>
      </div>

      <div class="md:m-0">
        <label for="trust" class="block text-sm font-medium text-gray-900">Already in trust?</label>
        <div class="mt-2">
          <div class="mt-2">
            <select 
                    th:field="*{trust}"
                    style="-webkit-appearance: none;" 
                    id="trust" 
                    name="select"
                    class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full"
            >
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
      </div>

      <div class="md:m-0 col-span-full">
        <label for="blood-protection" class="block text-sm font-medium text-gray-900">Blood Protection</label>
        <div class="mt-2">
          <select
                  th:field="*{isBloodProtection}"
                  style="-webkit-appearance: none;" 
                  id="blood-protection" name="select"
                  class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full"
          >
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>

        <div class="md:m-0 col-span-full">
        <label for="generation-iht" class="block text-sm font-medium text-gray-900">Generation IHT</label>
        <div class="mt-2">
          <select
                  th:field="*{isGenerationIht}"
                  style="-webkit-appearance: none;" 
                  id="generation-iht" name="select"
                  class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full"
          >
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>

      <div class="md:m-0 col-span-full">
        <label for="notes" class="block text-sm font-medium text-gray-900">Notes</label>
        <div class="mt-2">
            <textarea
                  th:field="*{notes}"
                  id="notes" 
                  name="about" 
                  rows="3"
                  class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full">
          </textarea>
        </div>
      </div>

      <!-- additional any kind of UI -->
      <div class="md:m-0 col-span-full flex flex-row justify-end items-center space-x-4">
        <!-- content -->
        <a href="#" class="px-4 py-2 rounded-xl text-link hover:bg-link-back_hover">Add one more application</a>
      </div>

      <!-- submit or save -->
      <div class="md:m-0 col-span-full flex flex-row justify-end border-t pt-4 space-x-4">
        <button type="button" class="px-4 py-2 text-primary hover:bg-gray-100 rounded-xl">
          Cancel
        </button>
        <button type="submit" class="px-4 py-2 bg-primary text-white hover:bg-primary-hover rounded-xl">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
</body>
</html>