<!DOCTYPE html>
<html class="h-full" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Applications</title>
</head>
<body>
<div layout:fragment="content">

    <div class="container mx-auto min-h-screen">
        <div class="flex flex-col md:flex-row p-4 justify-start mt-12">
            <div class="flex flex-col flex-1 mb-8">
                <h1 class="font-semibold">
                    Applications
                </h1>
                <p class="text-gray-500 md:w-2/3">
                    Here you can create new applications and edit your existing applications that have not been accepted yet.
                </p>
                <div th:unless="${app}" class="flex flex-row justify-center lg:justify-start my-8">
                    <a th:href="@{/application}" class="px-4 py-2 bg-primary text-white hover:bg-primary-hover rounded-xl">
                        Create
                    </a>
                </div>
            </div>
            
            <div class="flex flex-col space-y-2 flex-1">
                <a th:href="@{'/applications/' + ${app.id}}" th:if="${app}" class="flex flex-row justify-between p-4 border rounded-xl hover:border-gray-400 hover:cursor-pointer items-center">
                    <h3 th:text="'#' + ${app.id}">Id</h3>
                    <div class="flex flex-col justify center items-end">
                        <h5 class="text-sm">
                            <span th:switch="${app.status}">
                                <span th:case="0">Requested</span>
                                <span th:case="1">In Progress</span>
                                <span th:case="2">Completed</span>
                                <span th:case="3">Cancelled</span>
                            </span>
                        </h5>
                        <p th:text="${#temporals.format(app.createdAt, 'yyyy-MM-dd')}" class="text-xs text-gray-500">Date</p>
                    </div>
                </a>

                <div th:unless="${app}" class="border rounded-xl py-24 px-8 text-center">
                    <h3 class="font-semibold">No results found</h3>
                    <p class="text-gray-500">
                        Create your first application!
                    </p>
                </div>

        

            </div>
            
        </div>

    </div>
</div>
</body>
</html>
