<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{_layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Register</title>
</head>
<body>
<!-- content -->
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8" layout:fragment="content">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Register new
            account</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

        <div th:if="${param.error}">-->
            <div>Something went wrong. Please try again</div>
        </div>

        <form th:object="${userRegistrationDTO}" method="post" th:action="@{/register-handler}" class="space-y-4">

            <label for="Full name" class="block text-sm font-medium text-gray-900">Full name</label>
            <div class="mt-2">
                <input
                        th:field="*{fullName}"
                        type="text"
                        name="Full name"
                        id="Full name"
                        autocomplete="name"
                        class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full">
                <span class="text-xs text-red-500" th:if="${#fields.hasErrors('fullName')}"
                      th:errors="*{fullName}"></span>
            </div>

            <label for="Email address" class="block text-sm font-medium text-gray-900">Email</label>
            <div class="mt-2">
                <input
                        th:field="*{email}"
                        type="email"
                        name="Email address"
                        id="Email address"
                        autocomplete="email"
                        class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full">
                <span class="text-xs text-red-500" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

            </div>

            <label for="username" class="block text-sm font-medium text-gray-900">Username</label>
            <div class="mt-2">
                <input
                        th:field="*{username}"
                        type="text"
                        name="username"
                        id="username"
                        autocomplete="username"
                        class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full">
                <span class="text-xs text-red-500" th:if="${#fields.hasErrors('username')}"
                      th:errors="*{username}"></span>

            </div>

            <label for="password" class="block text-sm font-medium text-gray-900">Password</label>
            <div class="mt-2">
                <input
                        th:field="*{password}"
                        type="password"
                        name="password"
                        id="password"
                        autocomplete="password"
                        class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full">
                <span class="text-xs text-red-500" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

            </div>

            <div>
                <button type="submit"
                        class="mt-4 px-4 w-full py-2 bg-primary text-white hover:bg-primary-hover rounded-xl">
                    Submit
                </button>
            </div>
        </form>

        <p class="mt-10 text-center text-sm text-gray-500">
            Already have account?
            <a th:href="@{/login}" class="font-semibold leading-6 text-link hover:text-link-hover">Login here</a>
        </p>
    </div>
</div>
<!-- end content -->

</body>
</html>