<!doctype html>
<html class="h-full" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/styles/global.css}">
    <title>Document</title>
</head>
<body class="h-full">
    <div class="container h-full">
        <div class="items-center justify-center flex h-full flex-col">
            <h1 class="title form-margin-bottom text">Register</h1>

            <div th:if="${param.error}">
                <div>Something went wrong. Please try again</div>
            </div>
            <form th:object="${user}" method="post" th:action="@{/register-handler}" class="form-style flex flex-col justify-center items-center">
                <span class="text error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                <div class="form-elements-width flex items-center form-margin-bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 input-icon absolute">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                    </svg>
                    <input class="input rounded-md border form-elements-width p-8 text" type="text" placeholder="Username" th:field="*{username}">
                </div>
                <span class="text error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                <div class="form-elements-width flex items-center form-margin-bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 input-icon absolute">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                    </svg>
                    <input class="input rounded-md border form-elements-width p-8 text" type="email" placeholder="Email" th:field="*{email}">
                </div>
                <span class="text error-message" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
                <div class="form-elements-width flex items-center form-margin-bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 input-icon absolute">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                    </svg>
                    <input class="input rounded-md border form-elements-width p-8 text" type="text" placeholder="Full name" th:field="*{fullName}">
                </div>
                <span class="text error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                <div class="form-elements-width flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 input-icon absolute">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                    </svg>
                    <input class="input rounded-md border form-elements-width p-8 text" type="password" placeholder="Password" th:field="*{password}">
                </div>
                <div class="form-alternative-margin flex justify-between form-elements-width">
                    <p class="text">Already have an account?</p>
                    <a href="/login" class="text reference">Sign in</a>
                </div>
                <button class="btn rounded-md border form-elements-width p-8 text" type="submit">Register</button>
            </form>
        </div>
    </div>
</body>
</html>