<!DOCTYPE html>
<html class="h-full" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout.html}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Applications</title>
</head>

<body class="h-full">
    <div layout:fragment="content">
        <div class="bg-white rounded-xl border flex flex-col md:flex-row p-4 justify-start">

            <div class="flex flex-col flex-1 mb-8">
                <h1 class="font-semibold">
                    User create
                </h1>
                <p class="text-gray-500">
                    Description
                </p>
            </div>

            <div class="grid grid-cols-2 gap-4 flex-1 lg:mr-32">

                <!-- 2 columns in 1 row -->
                <div class="md:m-0">
                    <label class="block text-sm font-medium text-gray-900">Full name</label>
                    <div class="mt-2">
                        <input
                                type="text"
                                name="name"
                                id="name1"
                                autocomplete="name"
                                class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full">
                    </div>
                </div>
                <div class="md:m-0">
                    <label class="block text-sm font-medium text-gray-900">Username</label>
                    <div class="mt-2">
                        <input
                                type="text"
                                name="name"
                                id="name2"
                                autocomplete="name"
                                class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full">
                    </div>
                </div>

                <!-- full block input: col-span-full -->
                <div class="md:m-0 col-span-full">
                    <label class="block text-sm font-medium text-gray-900">Email</label>
                    <div class="mt-2">
                        <input
                                type="email"
                                name="name"
                                id="name3"
                                autocomplete="name"
                                class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full">
                    </div>
                </div>

                <!-- full block input: col-span-full -->
                <div class="md:m-0 col-span-full">
                    <label class="block text-sm font-medium text-gray-900">Password</label>
                    <div class="mt-2">
                        <input
                                type="password"
                                name="password"
                                id="password"
                                autocomplete="password"
                                class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full">
                    </div>
                </div>

                <div class="md:m-0 col-span-full">
                    <label for="select" class="block text-sm font-medium text-gray-900">Role</label>
                    <div class="mt-2">
                        <select style="-webkit-appearance: none;" id="select" name="select"
                                class="border border-gray-300 px-4 py-2 rounded-xl focus:outline-primary block w-full">
                            <option value="" disabled selected>Select role for user</option>
                            <option>Admin</option>
                            <option>User</option>
                        </select>
                    </div>
                </div>

                <!-- submit or save -->
                <div class="md:m-0 col-span-full flex flex-row justify-end border-t pt-4 space-x-4">
                    <button type="button" class="px-4 py-2 text-primary hover:bg-gray-100 rounded-xl">
                        Cancel
                    </button>
                    <button type="submit" class="px-4 py-2 bg-primary text-white hover:bg-primary-hover rounded-xl">
                        Create
                    </button>
                </div>

            </div>
        </div>
    </div>
</body>

</html>