.form-style {
    align-items: center;
    width: 20vw;
}

.form-margin-bottom {
    margin-bottom: 1.9vw;
}

.form-elements-width {
    width: 100%;
}

.form-input {
    text-indent: 2.5vw;
}

.form-alternative-margin {
    margin: 3vw 0;
}

